@font-face {
  font-family: 'LowresPixel';
  src: url('assets/font/LowresPixel-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'LowresPixel', monospace;
  background-color: #000;
  height: 200vh;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 10000;
  background-color: #000;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: all 0.3s ease;
  display: inline-block;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
